@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-dana: 'Dana', sans-serif;
  --font-yekan: 'YekanBakh', sans-serif;
}

body {
  font-family: var(--font-yekan), sans-serif;
}

.font-dana {
  font-family: var(--font-dana), sans-serif;
}

.font-yekan {
  font-family: var(--font-yekan), sans-serif;
}

